body {
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: black;
}


h1, h2{
  font-family: "Montserrat-Bold";
}

h3{
  font-family: "Montserrat-Bold";
  font-weight: bold;
}


p{
  color: #8f8f8f;
  margin-bottom: 3px;
  padding-bottom: 0;
}


/* Headings */
.big-heading {
  padding: 0% 0% 5%;
  font-family: "Montserrat";
  font-weight: bold;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
  text-shadow: 0 0 1rem rgba(0,0,1);
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Title Section */
#title {
  background-image: linear-gradient(to right, #833ab4 , #fd1d1d, #fcb045);
  color: #fff;
  text-align: left;
  font-weight: bold;
}

#title .container-fluid {
  padding: 5% 7%;
}

.About-text{
  color:#fff;
  line-height: 1.5;
}


/* Card Section */
.displayImages{
  width:200px;
  height:200px;
  margin: 5% auto;
  border-radius:100%;
}

.NewYear-card{
  text-align: center;
  position: relative;
  margin: 5% 10%;
}

.card{
  width: 50%;
  height: 50%;
}

#card-name{
  color: #000;
  font-weight: bold;
}

.box {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.05, 1.05);
}

.box:hover::after {
    opacity: 1;
}

.input-name:focus{
  outline-color: #ee0979;
  border-color: #ee0979;
}
.input-name{
  margin: 2% 0%;
}

#copyButton{
  width: 100%;
  transition: width 0.5s;

}


/* Carousel Section */
.carousel-image{
  margin: 5% auto;
 width: 20%;
 height: 27%;
 border-radius: 0.3em;
}

.carousel-inner > .carousel-item img{
  width: 50%;
}

hr{
  width: 10%;
  border-color: white;
  border-style: dotted;
  text-align: center;
  border-width: 8px 0px 0px 0px;
  margin: 0px auto;
}

.gallery-heading{
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 1rem rgba(0,0,1);
  position: relative;
  top: 50px;
}

.colored-section{
  background-image: linear-gradient(to right, #00467F , #a5cc82);
  border-radius: 1em;
  margin: 2% 3%;
}

/* Footer Section */
h6{
  color: #fff;
}

.container-fluid{
  padding: 1.7%;
}

.footer-container{
  margin-top: 0%;
  background-color: #000;
}

@media (max-width: 1028px) {
  .NewYear-card{
    margin: 5% auto;
  }

  #title {
    text-align: center;
 }

.gallery-heading{
   margin-bottom: 15%;
 }
}
