<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Greetings</title>
    <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://argreet-d8b3.restdb.io/assets/js/eventsource.min.js"></script>
	<script src="https://argreet-d8b3.restdb.io/rest/_jsapi.js?plainjs=true"></script>
</head>
<body>
    <a-scene>
        <a-assets>
            <img id="city" src="../images/city.jpg">
        </a-assets>
        <a-sky src="#city"></a-sky>
    </a-scene>
</body>
<script src="../javascript/main.js"></script>
</html>