<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AR Greetings</title>
    <script src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-look-at-component/master/dist/aframe-look-at-component.min.js"></script>
</head>
<body>
    <a-scene>
        <a-assets>
            <img id="city" src="../images/city.jpg">
        </a-assets>
        <a-sky src="#city"></a-sky>
    </a-scene>
</body>
<script src="../javascript/main.js"></script>
</html>